body {
  margin: 0;
  font-family: sans-serif;
  padding: 0;
  background: linear-gradient(90deg, rgba(241,240,245,1) 0%, rgba(179,19,161,1) 0%, rgba(0,176,255,1) 0%, rgba(0,123,152,1) 0%, rgba(0,50,88,1) 100%);
}



